@font-face {
    font-family: 'Sports World Regular';
    src: url('../fonts/SportsWorld.eot');
    src: url('../fonts/SportsWorld.eot?#iefix') format('embedded-opentype'),
    url('../fonts/SportsWorld.woff') format('woff'),
    url('../fonts/SportsWorld.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    }

@font-face {
    font-family: 'Falcon Sport';
    src: local('Falcon Sport One'), local('Falcon-Sport-One'),
        url('../fonts/FalconSportOne.woff2') format('woff2'),
        url('../fonts/FalconSportOne.woff') format('woff'),
        url('../fonts/FalconSportOne.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

@font-face {
    font-family: 'Milena Sans Regular';
    src: url('../fonts/MilenaSans.eot');
    src: url('../fonts/MilenaSans.eot?#iefix') format('embedded-opentype'),
    url('../fonts/MilenaSans.woff') format('woff'),
    url('../fonts/MilenaSans.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    }
