.body {
  background: var(--background-1, linear-gradient(180deg, #EBEBE9 0%, #EDEDEB 100%));
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}

.header {
  background-color: #ececea;
  padding: 30px 0 10px 0;
}
.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo {
  width: 160px;
  height: 100px;
  flex-shrink: 0;
}

.navigation__list {
  display: flex;
}
.navigation__list-item {
  padding: 11px 32px;
  text-transform: uppercase;
}
.navigation__list-button {
  color: var(--buttons-text-color-default, #292929);
  font-family: "Sports World Regular";
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 2px;
  transition: 1s;
}
.navigation__list-button:hover {
  color: blue;
  transition: 1s;
  font-size: 25px;
}

.main {
  padding: 20px 0 192px 0;
  background-color: #ececea;
}
.main__wrapper {
  position: relative;
  width: 900px;
  height: 900px;
  flex-shrink: 0;
}
.main__photo-1 {
  flex-shrink: 0;
  position: absolute;
  top: -221px;
  left: -300px;
  z-index: 1;
}
.main__title {
  position: relative;
  width: 1352px;
  left: -120px;
  height: 320px;
  top: 0px;
  padding-left: 220px;
  font-family: Arial;
  font-size: 160px;
  font-style: normal;
  font-weight: 900;
  line-height: 160px;
  letter-spacing: 8px;
  color: #cfcfcd;
  z-index: 0;
}
.main__description {
  position: relative;
  max-width: 590px;
  top: -30px;
  margin: -51px -337px -23px auto;
  padding-right: 20px;
  z-index: 2;
  color: #000;
  font-family: "Milena Sans Regular";
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 2px;
}
.main__description-link {
  display: block;
  padding: 11px 32px;
}

.hyper_link {
  display: flex;
  height: 45px;
  padding: 11px 32px;
  justify-content: flex-end;
  align-items: unset;
  gap: 10px;
}

.text__href {
  color: var(--buttons-text-color-default, #292929);
  font-family: Falcon Sport One;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 2px;
  transition: 1s;
}
.text__href:hover {
  color: red;
  transition: 1s;
  font-size: 25px;
}

/*# sourceMappingURL=style.css.map */
