.header {
    background-color: #ececea;
    padding: 30px 0 10px 0;

  &__wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
  }

  &__logo {
      width: 160px;
      height: 100px;
      flex-shrink: 0;
  }

}

.navigation {
    &__list {
        display: flex;
        &-item {
        padding: 11px 32px;
        text-transform: uppercase;
    }

        &-button {
            color: var(--buttons-text-color-default, #292929);
            font-family: 'Sports World Regular';
            font-size: 20px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            letter-spacing: 2px;
            transition: 1s;

        &:hover {
            color: blue;
            transition: 1s;
            font-size: 25px;
        }
    }
    }
}

