.main{
    padding: 20px 0 192px 0;
    background-color: #ececea;

  &__wrapper {
    position: relative;
    width: 900px;
    height: 900px;
    flex-shrink: 0;
}

  &__photo-1 {
    flex-shrink: 0;
    position: absolute;
    top: -221px;
    left: -300px;
    z-index: 1;

}

  &__title {
    position: relative;
    width: 1352px;
    left: -120px;
    height: 320px;
    top: 0px;
    padding-left: 220px;
    font-family: Arial;
    font-size: 160px;
    font-style: normal;
    font-weight: 900;
    line-height: 160px;
    letter-spacing: 8px;
    color: #cfcfcd;
    z-index: 0;
}

  &__description {
    position: relative;
    max-width: 590px;
    top: -30px;
    margin: -51px -337px -23px auto;
    padding-right: 20px;
    z-index: 2;
    color: #000;
    font-family: 'Milena Sans Regular';
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 2px;
}

  &__description-link {
    display: block;
    padding: 11px 32px;
}

}

.hyper_link {
    display: flex;
    height: 45px;
    padding: 11px 32px;
    justify-content: flex-end;
    align-items: unset;
    gap: 10px;
}

.text__href {
    color: var(--buttons-text-color-default, #292929);
    font-family: Falcon Sport One;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 2px;
    transition: 1s;
  &:hover {
      color: red;
      transition: 1s;
      font-size: 25px;
  }
}